[Unit]
Description=Description of your script
After=network.target

[Service]
ExecStart=/home/duythanh/projects/bots/angry-bird/start.sh
User=duythanh
Group=root
Type=simple

[Install]
WantedBy=multi-user.target

[Unit]
Wants=network-online.target
After=network-online.target