# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
discord.py
asyncio
firebase-admin
g4f==0.1.9.3
redis